* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    color: #1F1F1F;
}
.ion-arrow-left-c {
    background-color: black;
}
/* font-family: 'Archivo', sans-serif; */
a {
    text-decoration: none;
    font-family: 'Archivo', sans-serif;
}
.photo-titre {
    margin: 10px 0;

}
.active-link a{
    font-weight: bold;
}
/*                                             ************* NAVBAR *********** */

.header {
    display: flex;
}
.navbar-container1, .navbar-container2 {
    display: flex;
}

.titre-gauche, .titre-droite1, .titre-droite2, .navbar-container2 p {
    font-family: 'Archivo', sans-serif;
}
.navbar-container1 {
    margin: 30px 120px;
}
.navbar-container1 a{
    margin: 0px 10px;
    font-size: 16px;
    color: #1F1F1F;
    letter-spacing: 1px;
    font-weight: 300;
}
a:first-child {
    margin-left: -2px;
    font-weight: 600;
    font-size: 20px;
}
.navbar-container2 {
    margin: 30px 120px;
    position: absolute;
    right: -50px;
}
.navbar-container2 a, p{
    margin: 0px 20px;
    font-size: 16px;
    color: #1F1F1F;
    letter-spacing: 1px;
    font-weight: 300;
}
.btn-login {
    border: solid 1px black;
    padding: 6px 30px;
    position: relative;
    top: -6px;
}
.myhome {
    position: absolute;
    top: 52px;
    left: 100px;
    font-size: 10px;
    font-weight: 500;
}
.hr-accueil {
    margin: 0px 120px;
    background-color: black;
    color: black;
    width: 88.8%;
    max-width: 88.8%;
    height: 1px;
    border: none;
}
.titrepage {
    margin: 0px 120px;
    display: flex;
}
.titre-gauche { 
    font-size: 5.375rem;
    letter-spacing: -2px;
    margin-top: 50px;
    margin-bottom: 20px;
    word-spacing: 20px;
}

.titre-droite1 {
    font-size: 38px;
    letter-spacing: -2px;
    margin-top: 57px;
    margin-bottom: 20px;
    word-spacing: 5px;
    position: absolute;
    right: 110px;
}
.titre-droite2 {
    font-size: 38px;
    letter-spacing: -2px;
    word-spacing: 5px;
    position: absolute;
    right: 190px;
    top: 183px;
}
/*                                        ************* WHY US ? *************** */
.whyus {
    margin: 0 120px;
    margin-top: 130px;
    margin-bottom: 110px;
    font-size: 38px;
    letter-spacing: -2px;
    word-spacing: 5px;
    font-family: 'Archivo', sans-serif;
}
.whyusphotos {    
    display: flex;
    margin-left: 120px;
}
.whyusphotos p {
    font-size: 32px;
    letter-spacing: -2px;
    word-spacing: 5px;
    margin-left: -2px;
    line-height: 30px;
    font-family: 'Archivo', sans-serif;
}
.hr-whyus1 {
    width: 798px;
    margin: 15px 0;
}
.whyusphotogauche {
    margin-top: 20px;
}
.whyusphotodroite {
    margin-left: 310px;
    margin-top: -190px;
}
.hr-whyus2 {
    margin: 15px 0;
}
.whyus123 {
    display: flex;
    justify-content: flex-start;
    width: 90%;
    margin: 120px 100px;
    padding-bottom: 20px;
}
.num-why {
    font-size: 38px;
    letter-spacing: -2px;
    word-spacing: 5px;
    font-weight: 400;
    font-family: 'Archivo', sans-serif;
    margin-bottom: 10px;
}
.titre-why {
    font-size: 32px;
    letter-spacing: -2px;
    word-spacing: 5px;
    line-height: 30px;
    margin-bottom: 10px;
    font-family: 'Archivo', sans-serif;
}
.why2 {
    margin: 0 88px;
}
/*                                           *************** PROPERTIES ************* */
.whyus2 {
    font-size: 38px;
    letter-spacing: -2px;
    word-spacing: 5px;
    padding-top: 70px;
    margin: 0 120px;
    margin-bottom: 50px;
    font-family: 'Archivo', sans-serif;
}
.properties {
    margin: 30px 120px;
}
.alpha {
    width: 100%;
    display: flex;    
}
.texte-villa {
    width: 50%;
    margin-left: 300px;
    border-bottom: solid 1px black;
}
.titre-why2 {
    font-size: 38px;
    letter-spacing: -2px;
    word-spacing: 5px;
    line-height: 30px;
    margin-bottom: 60px;
    font-family: 'Archivo', sans-serif;
}
.txt-why2 {
    margin-top: 13px;
    margin-bottom: 60px;
}
.more {
    font-size: 30px;
    letter-spacing: -2px;
    word-spacing: 5px;
    line-height: 30px;
    font-family: 'Archivo', sans-serif;
}
.fa-arrow-right-long {
    font-size: 24px;
    transform: rotate(-45deg);
}
.beta {
    width: 100%;
    display: flex;
    margin-top: 150px;    
}
.texte-villa2 {
    width: 30%;
    margin-left: 300px;
    border-bottom: solid 1px black;
}
.photo-villa2 {
    margin-left: 360px;
}
.gamma {
    width: 100%;
    display: flex;
    margin-top: 150px;
}
.texte-villa3 {
    width: 30%;
    margin-left: 300px;
    border-bottom: solid 1px black;
}
.delta {
    width: 100%;
    display: flex;
    margin-top: 150px;
}
.texte-villa4 {
    width: 30%;
    border-bottom: solid 1px black;
    /* margin-left: -10px; */
}
.photo-villa4 {
    margin-left: 350px;
}
.omega {
    width: 100%;
    display: flex;
    margin-top: 150px;
}
.titre-why2 {
    margin-left: 0;
}
.txt-why {
    margin-left: 0;
}
.txt-why2 {
    margin-left: 0;
}
.more {
    margin-left: 0;
}
/* *                                          ******** FORMUMLAIRE ************************ */
.formulaire {
    margin: 0 120px;
    margin-top: 150px;
}
.all i {
    transform: rotate(0deg);
}
.all {
    margin-left: 970px;
}
.formu {
    display: flex;
}
.gauche {
    width: 50%;
}
input[type="text"]{
    padding: 12px 12px;
    width: 95%;
    margin-top: 12px;
    border: solid 2px #ccc;
}
.champ2 input {
    height: 100px;
}

input[type="submit"]{
    padding: 12px 12px;
    width: 98.5%;
    margin-top: 12px;
    color: white;
    background: black;
    cursor: pointer;
}
.droite {
    margin-left: 360px;
}
.droite p {
    margin-top: 225px;
    margin-left: 200px;
}
.champ3 input {
    width: 100%;
    cursor: pointer;
}
.more2 {
    font-size: 30px;
    letter-spacing: -2px;
    word-spacing: 5px;
    font-family: 'Archivo', sans-serif;
    font-weight: 400;
}
.footer {
    margin-top: 100px;
    padding-bottom: 30px;
    height: 120px;
    display: flex;
    background: black;
}
.footer > .navbar-container1 {
    width: 60%;
    color: white;
}
.footer > .navbar-container2 {
    position: relative;
    right: 0;
    margin-left: 30px;
    width: 40%;
    justify-content: end;
    height: 30px;
}
.btn-login2 {
    border: solid 1px white;
    padding: 6px 30px;
    position: relative;
    bottom: 10%;
}
.myhome3 {
    margin-top: -95px;
    font-size: 10px;
    font-weight: 500;
    margin-left: 119px;
    color: white;
    margin-bottom: 30px;
}
.footer a {
    color: white;
}
.hr-footer {
    margin: 0 120px;
    margin-top: -10px;
}
.allright {
    color: white;
    margin: 0px 10px;
    font-size: 16px;
    letter-spacing: 1px;
    margin: 20px 0;
    margin-left: 82.5%;
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!   *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* PAGE 2 BUY *-*-*-*-*-*-*-*-*-*-*-**-*-*- */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!   *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* PAGE 2 BUY *-*-*-*-*-*-*-*-*-*-*-**-*-*- */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!   *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* PAGE 2 NOS BIENS *-*-*-*-*-*-*-*-*-*-*-**-*-*- */
.menu-precedent {
    margin: 35px 120px;
}
.menu-precedent a {
    font-weight: 500;
    margin-left: 8px;
}
.titre-gauche-buy { 
    font-size: 4.575rem;
    letter-spacing: -2px;
    margin-bottom: 50px; 
    word-spacing: 20px;
    font-weight: 500;
}
/* *                ******** FILTRES  *************** */
.filter-container {
    position: relative;
    display: inline-block;
    z-index: 1;
}
.filter-btn {
    margin: 15px 120px;
    background: none;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    position: relative;
    z-index: 2;
}
.filter-btn i {
    margin-left: 5px;
}
.hidden {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 3;
    width: 100%;
}
.filter-style {
    display: flex;
    flex-wrap: wrap;
    border: solid 1px black;
    width: 315px;
    /* width: 30%; */
    margin: 10px 120px;
    /* height: 500px; */
}
.filter-style label {
    font-weight: 500;
}
.title-bedrooms, .filter-bedrooms, .title-bathrooms, .filter-bathrooms, .title-type, .filter-type, .title-size, .filter-size, .title-price, .filter-price, .btn-apply {
    width: 100%; 
    box-sizing: border-box; 
}
.filter-bedrooms input{
    display: none;
}
.filter-bedrooms label {
    display: inline-block;
    text-align: center;
    border: 1px solid black;
    cursor: pointer;
    padding: 6px 12px;
    font-size: 1.15rem;
    margin-right: 8px;
  }
#un:checked ~ label[for="un"], #deux:checked ~ label[for="deux"], #trois:checked ~ label[for="trois"],#quatre:checked ~ label[for="quatre"], #cinq:checked ~ label[for="cinq"], #six:checked ~ label[for="six"]{
    background: black;
    color: white;
}
.title-bedrooms {
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 10px;
    font-size: 1.1rem;
}
.filter-bedrooms{
    padding-left: 20px;
    margin-bottom: 5px;
}
#un1:checked ~ label[for="un1"], #deux2:checked ~ label[for="deux2"], #trois3:checked ~ label[for="trois3"],#quatre4:checked ~ label[for="quatre4"], #cinq5:checked ~ label[for="cinq5"], #six6:checked ~ label[for="six6"]{
    background: black;
    color: white;
}
.filter-bathrooms input {
    display: none;
}
.filter-bathrooms label {
    display: inline-block;
    text-align: center;
    border: 1px solid black;
    cursor: pointer;
    padding: 6px 12px;
    font-size: 1.15rem;
    margin-right: 8px;
}
.title-bathrooms {
    margin-bottom: 3px;
}
.title-bathrooms label {
    border: none;
    padding-top: 15px;
    padding-left: 10px;
    font-size: 1.1rem;
}
.filter-bathrooms {
    padding-left: 10px;
    margin-bottom: 5px;
}
.title-type {
    padding-top: 15px;
    font-size: 1.1rem;
    margin-bottom: 8px;
}
.filter-type {
    padding-left: 20px;
}
.filter-type-type input {
    margin-right: 7px;
}
.filter-type-type {
    margin-bottom: 4px;
}
.filter-type-type label {
    cursor: pointer;
}
#townhouse, #apartment, #villa {
    accent-color: black;
}
.title-size {
    padding-left: 20px;
    margin-top: 14px;
}
#propertySizeValue {
    margin-left: 42%;
    margin-top: -5px;
}
input#propertySize {
    margin-top: 5px;
    margin-left: 20px;
    width: 270px;
}
#propertySize, #propertyPrice {
    appearance: none;
    -webkit-appearance: none;
    height: 1px;
    background: #000000;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }  
  #propertySize::-webkit-slider-thumb, #propertyPrice::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: black;  
    cursor: pointer;
    border: 1px solid black;
    border-radius: 2px;
  }
  .range-labels {
    display: flex;
    justify-content: space-between;
    width: 89.5%;
    margin-left: 17px;
}
.range-label {
    font-size: 12px;
    color: #000000;
}
.range-hrs {
    display: flex;
    justify-content: space-between;
    width: 87%;
    margin-left: 18px;
    margin-top: -9px;
}
.range-hr, .price-hr {
    height: 8px;
    width: 1px;
    background-color: #000000;
}
.title-price {
    padding-left: 20px;
    margin-top: 4px;
}
#propertyPriceValue {
    margin-left: 43.5%;
    margin-top: 5px;
}
input#propertyPrice {
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 15px;
    width: 270px;
}
.price-hrs {
    display: flex;
    justify-content: space-between;
    width: 87%;
    margin-left: 18px;
    margin-top: -19px;
}
.btn-apply button {
    margin-top: 10px;
    text-decoration: none;
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    font-size: 1rem;
    border: none;
    padding: 10px 0;
    cursor: pointer;
    margin-top: 22px;
}
/* ********* SORTING ******* */
/* .sorting-container {
    position: relative;
    display: inline-block;
    z-index: 1;
    margin-left: 69%;
    width: 80px;
}
.sorting-btn {
    margin: 15px 120px;
    background: none;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    position: relative;
    z-index: 2;
    width: 80px;
}
.sorting-btn i {
    margin-left: 5px;
}

.hidden2 {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 3;
    width: 100%;
}

.sorting-style {
    display: flex;
    flex-wrap: wrap;
    border: solid 1px black;
    margin-right: 120px;
    width: 300px;
}

.title-price2, .price-croissant, .title-creation, .date-croiss-dec {
    width: 100%; 
    box-sizing: border-box; 
}

.title-price2 input {
    display: none;
}
.title-price2:first-child {
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 10px;
    font-size: 1.1rem;
}
#higher:checked ~ label[for="higher"]{
    background: black;
    color: white;
} */

/* *********** PRESENTATION VILLAS ************ */
.container-villas {
    margin-top: 50px;
    margin-left: 120px;
    display: flex;
    flex-wrap: wrap;
}
.container-villa1, .container-villa2, .container-villa3, .container-villa4, .container-villa5, .container-villa6, .container-villa7, .container-villa8, .container-villa9 {
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    width: 30.85%;
    max-width: 33%;
    padding: 20px 0;
    margin-right: 20px;
    margin-bottom: 120px;
}
.container-villa1 img, .container-villa2 img, .container-villa3 img, .container-villa4 img, .container-villa5 img, .container-villa6 img, .container-villa7 img, .container-villa8 img, .container-villa9 img {
    max-width: 100%;
}
.titre-villas-buy {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-top: 8px;
}
.titre-villas-buy p {
    font-size: 1.7rem;
    font-weight: 300;
    font-family: 'Archivo', sans-serif;
    margin: 0;
    padding: 0;
    letter-spacing: -1.5px;
    margin-right: 5px;
    word-spacing: 5px;
}
.titre-villas-buy i {
    margin-left: 10px;
    transform: rotate(0deg);
}
.description-villas {
    margin: 0;
    padding: 0;
}
.description-villas p {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    font-size: 0.9rem;
    color: #1F1F1F;
    letter-spacing: 0.5px;
    font-weight: 300;
    margin-bottom: 20px;
}
.logos-villas {
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.chambre-nb i, .sdb-nb i, .metre-carre i {
    margin-right: 10px;
}
.chambre-nb, .sdb-nb, .metre-carre {
    font-weight: 500;
    font-size: 1.3rem;
}